.BBG
{
	background-color:#0000ff;
	color:#ffffff
}

.RBG
{
	background-color:#ff0000;
	color:#ffffff
}

.GBG
{
	background-color:#00ff00;
	color:#ffffff
}

.BlBG
{
	background-color:#000000;
	color:#ffffff;
}

.YBG
{
	background-color:#ffff00;
	color:#ffffff;
}

.BUD
{
	border-bottom: 2px solid #0000ff;
}

.GUD
{
	border-bottom: 2px solid #00ff00;
}

.RUD
{
	border-bottom: 2px solid #ff0000;
}

.tith2
{
	margin-bottom: 0px;
}

h2
{
	margin-top: 10px;
	margin-bottom: 8px;
	font-family: 楷体;
}

.block
{
	margin-top: 8px;
	margin-right: 8px;
	padding: 5px 10px 5px 10px;
	background-color:#f3f3f3;
	border:1px solid #1f1e33
}


.alert
{
	margin-top: 10px;
	margin-right: 10px;
	padding: 5px 10px 5px 10px;
	text-align: center;
}

ul
{
	margin-top: 5px;
	margin-bottom: 5px;
}

.RMK::marker
{
	color: #ff0000;
}

.GMK::marker
{
	color: #00ff00;
}

.BMK::marker
{
	color: #0000ff;
}

.PMK::marker
{
	color: #ffa0c4;		
}

.pre5BeginDiv
{
	z-index:999;
	background-color: #5555ff;
	color: #ffffff;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.beginDiv
{
	z-index:999;
	background-color: #ff5555;
	color: #ffffff;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

h1
{
	line-height:200%;
}

.bot-left
{
	position: absolute;
	bottom: 10px;
	left: 20px;
	font-size: 24px;
}

.songInfo
{
	font-family: Bahnschrift;
	margin-top: 0px;
	margin-bottom: 0px;
}

.songName
{
	font-size: 36px;
}

.smallSongName
{
	font-size: 30px;
}

.notice
{
	border: 2px #dddddd solid;
	border-radius: 10px;
	font-size: 28px;
	padding: 2px 2px 2px 2px;
}

.noticeBig
{
	border: 2px #dddddd solid;
	border-radius: 15px;
	font-size: 56px;
	padding: 3px 3px 3px 3px;
}

.divNotice
{
	position:absolute;
	top:5px;
	right:5px;
	z-index:998;
	background-color:#0000ff;
	color:#ffffff;
}

.noticeText
{
	margin: 3px 3px 3px 3px;
	line-height:120%;
}

li
{
	margin-top: 3px;
	margin-bottom: 0px;
}

.sm
{
	font-size: 0.8em;
}

.smBig
{
	font-size: 0.8em;
}

.msyh
{
	font-family: 微软雅黑;
}

.launchDiv
{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#000000;
	color: #ffffff;
	text-align:center;
	z-index:1000;
}

#launchCont
{
	position: absolute;
	top: 45%;
	width: 100%;
}

#launchTitle
{
	//position:absolute;
	//top: 200px;
	width: 100%;
}

#launchProgBar
{
	//position:absolute;
	//top: 150px;
	width:100%;
}

#progOutline
{
	border: 5px solid #ffffff;
	height: 20px;
	width: 500px;
	margin-top: 50px;
}

#progBar
{
	background-color: #ffffff;
	margin: 2px 2px 2px 2px;
	width: 496px;
	height: 16px;
}

#launchTitleText
{
	font-family: "Minecraft AE Pixel";
	font-size: 72px;
}

@font-face
{
	font-family: 'Minecraft AE Pixel';
	src: url("./fonts/Minecraft AE.ttf");
}