---
title: 分类 C
layout: category
permalink: /categories/category.html
---

<head>
    <meta charset="utf-8">
    <title>分类 Categories</title>
</head>
<body>
    <h1>分类 Categories</h1>
    <h2><a href="/categories/WAD.html">每周一题 Weekly Academic Discussion</a></h2>
    <ul>
        {% for post in site.wad %}
        {% if post.hidden!=true %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    <h2><a href="/categories/Events.html">班级大事记 Class Events</a></h2>
    <h2><a href="/categories/Sports.html">体育联赛 Sports League</a></h2>
    <ul>
        {% for post in site.sports %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <h2><a href="/categories/Materials.html">学习资料 Learning Materials</a></h2>
    <ul>
        {% for post in site.materials %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <h2><a href="/categories/HR.html">作业记录 Homework Record</a></h2>
</body>